@media screen and (max-width: 600px) {
html{
    background-color: blue;
}
}



.center {
    /* Centers the image on the page */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    filter: grayscale(100%);
    /*Makes the image grayscale*/
    border: 2px solid burlywood;
    /* Adds a solid black border */
    border-radius: 15px;
    /* Rounds the corners of the border */

}

.footer-text {
    text-align: center;
    /* Centers the footer text */
    font-size: 14px;
    /* Sets the font size */
    color: #c25e1c;
    /* Sets the text color */
    margin-top: 20px;
    /* Adds space above the footer text */
    font-weight: bold;
}

table,
td {
    border: 1px solid black;
    width: 100%;
    padding: 5px;
    text-align: center;

}

th {
    background-color: #c25e1c;
    padding: 15px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 100px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: burlywood;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: orangered;
}

.row {
  display: flex;
  color:aqua; /* Sets the text color for the row */
  height: 200px; /* Sets the height of the row */
  margin: 10px 0; /* Adds space above and below the row */
  width: 100%; /* Sets the width of the row */
}

.column {
  flex: 50%;
}

p:hover{
    background: orangered; 
    font-size: 20px;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: orange; 
}

.container:hover .overlay {
  opacity: 1;
}